<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MIIT Motors</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/offers/all">Offers</a>
        <a class="nav-link" href="/users/all">Users</a>
        <a class="nav-link" href="/brands/all">Brands</a>
        <a class="nav-link" href="/models/all">Models</a>
        <a class="nav-link" href="/roles/all">Roles</a>
        <a class="nav-link" href="/brands/add">Add brand</a>
        <a class="nav-link" href="/models/add">Add model</a>
        <a class="nav-link" href="/offers/add">Add offer</a>
        <a class="nav-link" href="/users/add">Add user</a>
      </div>
    </div>
  </div>
</nav>