<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header"/>
<body>
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <h2 class="text-center text-dark mt-5">All Offers</h2>
        <div th:each="o : ${offerDetails}" class="mb-3">
            <div class="row bg-light p-3 rounded">
                <!-- Picture Column -->
                <div class="col-md-6">
                    <img th:src="${o.imageUrl}" alt="Model Image" class="img-fluid rounded" />
                </div>
                <!-- Description Column -->
                <div class="col-md-6 d-flex flex-column justify-content-center">
                    <h3 th:text="'Brand: ' + ${o.userName}"></h3>
                    <h3 th:text="'Model: ' + ${o.modelName}"></h3>
                    <h3 th:text="'Category: ' + ${o.engine}"></h3>
                    <h3 th:text="'Start year: ' + ${o.transmission}"></h3>
                    <h3 th:text="'Offer year: ' + ${o.offerYear}"></h3>
                    <h3 th:text="'Description: ' + ${o.description}"></h3>
                    <h3 th:text="'Mileage: ' + ${o.mileage}"></h3>
                    <h3 th:text="'Created: ' + ${o.created}"></h3>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
